{% extends "layout.html" %} {% block container %} {% import "macros.html" as
macros %}
<div class="py-8 relative overflow-x-auto sm:rounded-lg">
  <form action="" method="POST" novalidate class="max-w-md mx-auto">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="relative z-0 w-full mb-5 group"></div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.nombre, class="block py-2.5 px-0 w-full text-sm
      text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.nombre,id="nombre")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.apaterno,class="block py-2.5 px-0 w-full text-sm
      text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.apaterno,id="apaterno")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.amaterno,class="block py-2.5 px-0 w-full text-sm
      text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.amaterno,id="amaterno")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.edad,class="block py-2.5 px-0 w-full text-sm
      text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.edad,id="edad")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.correo, class="block py-2.5 px-0 w-full text-sm
      text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.correo,id="correo")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
      {{macros.campoNuevo(form.especialidad, class="block py-2.5 px-0 w-full
      text-sm text-white bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:border-gray-600 dark:focus:border-blue-500
      focus:outline-none focus:ring-0 focus:border-blue-600
      peer",value=maestro.especialidad,id="especialidad")}}
    </div>
    <div class="grid md:grid-cols-2 md:gap-6 mt-4">
      <button
        type="submit"
        id="btn_update"
        name="btn_update"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Actualizar registro
      </button>

      <a
        href="/maestros"
        class="bg-red-500 text-white px-5 py-2.5 rounded-lg flex items-center justify-center gap-2 hover:bg-red-600 text-sm font-medium"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
        Cancelar
      </a>
    </div>
  </form>
</div>
{% endblock %}
