{% extends "layout.html" %}
{% block container %}


<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">Está seguro de que desea eliminar el
        siguiente registro?</h5>
    {%for key,value in alumno.items()%}
    <p class="text-body mb-6">{{key}}:{{value}}</p>
    {%endfor%}


    <form method="post" class="flex items-center gap-4">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded">
            Eliminar
        </button>

        <a href="/alumnos" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded">
            Cancelar
        </a>
    </form>

</div>

{%endblock%}